
#list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}



li{
    padding: 0em;
    margin-bottom: 0.25em;
    background-color: rgb(44, 58, 58);
    border-radius: 2em;
    font-weight: 200;
    color: white;
    font-size: medium;
}
input{
    border-radius: 2em;
}

button{
    background-color: blue;
    color: white;
    font-weight: 500;
    border-radius: 1.5em;
    margin-top: 1em;
}

button:hover{
    background-color: rgb(44, 58, 58);
    transition: 1s;
}